.App{
    background-color: #333;
    color: white;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}
input{
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: white;
    width: 100%;
}
.terminal{
    white-space: pre-line;
}